@import './stack/stack';

.cardcontainer {
	grid-row: 1;
	grid-column: 1;
	display: flex;
	.card {
		margin: 20px;
		width: 16rem;
		height: 18rem;
		background-size: cover;
		overflow: hidden;
		transition: all 0.4s ease-in-out;
		.cardhead {
			display: flex;
			margin: 0.5em 0.5em 0em 0.7em;
			text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.35);
			justify-content: space-between;
			.stack {
				width: 10%;
			}
			.cardtitle {
				width: 80%;
				overflow-wrap: break-word;
				font-size: 1.5rem;
			}
		}
		.cardHover {
			transition: all 1.5s;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			.cardText {
				position: absolute;
				color: white;
				text-shadow: 0px 0px 25px #000000;
				margin: 0;
				margin-right: 2em;
				font-size: 0.85rem;
				h3 {
					margin: 0;
					font-size: 2rem;
					font-weight: 800;
				}
				.description {
					h5 {
						margin: 0;
						margin-top: 1em;
						font-size: 1rem;
					}
					display: grid;
					grid-template-columns: 0.5fr 1fr;
					grid-template-rows: 1fr;
					gap: 10px;
					ul {
						padding-left: 0;
						li {
							list-style-type: none;
							margin-top: 0.5em;
							font-size: 0.8rem;
							&:last-child {
								margin-bottom: 2em;
							}
						}
					}
					.toolscontainer {
						.tools {
							margin-top: -1em;
							padding: 0.2em 0px 0.2em 0.4em;
							width: 100%;
							position: relative;
						}
					}
				}
			}
			.cardButtons {
				width: 100%;
				position: absolute;
				bottom: 1em;
				display: flex;
				justify-content: space-around;
			}
		}
		.cardtitle {
			color: white;
			transition: all 0.3s;
			text-transform: uppercase;
			font-weight: 800;
			font-size: 3rem;
		}
	}
}
.navigationArrows {
	justify-self: left;
	grid-column: 1;
	grid-row: 1;
	width: 2%;
	img {
		cursor: pointer;
		width: 3.3em;
	}
}
@include for-tablet-portrait-up {
	.cardcontainer {
		.card {
			width: 18rem;
			height: 20rem;
			.cardhead {
				.cardtitle {
					font-size: 1.8rem;
				}
			}
			.cardHover {
				.cardText {
					margin-right: 2.8em;
				}
			}
		}
	}
}
@include for-tablet-landscape-up {
	.cardcontainer {
		.card {
			width: 24rem;
			height: 26rem;
			.cardhead {
				.cardtitle {
					font-size: 3rem;
				}
			}
			.cardHover {
				.cardText {
					margin-right: 2.8em;
					font-size: 1rem;
					margin-left: 0em;
					.description {
						h5 {
							margin: 0;
							margin-top: 1em;
							font-size: 1rem;
						}
						display: grid;
						grid-template-columns: 0.5fr 1fr;
						grid-template-rows: 1fr;
						gap: 10px;
						ul {
							padding-left: 0;
							li {
								list-style-type: none;
								margin-top: 0.5em;
								font-size: 0.8rem;
								&:last-child {
									margin-bottom: 2em;
								}
							}
						}
						.toolscontainer {
							.tools {
								margin-top: -1em;
								padding: 1em 0px 1em 1em;
								width: 100%;
								background-color: $primaryColor;
								position: relative;
								border-radius: 0px 0px 5em 0px;
							}
						}
					}
				}
			}
		}
	}
}
