.contactContainer {
	position:relative;
}
.contactbtn {
	font-family: inherit;
	color: $primaryColor;
	display: flex;
	place-content: center;
	border: 2px solid $primaryColor;
	padding: 5px 10px;
	position: relative;
	svg {
		margin-right: 0.5em;
	}
}
.copiedcontainer {
	position: absolute;
	top: -25%;
	.messagebubble {
		background: $primaryColor;
		font-size: 1rem;
		padding: 12px;
		border-radius: 10px;
		color: white;
	}
}

@include for-desktop-up {
	.contactbtn {
		padding: 20px 40px;
		text-decoration: none;
		font-size: 1.4rem;
		letter-spacing: 2px;
		border: 3px solid $primaryColor;
		position: relative;
		transition: 1s;
		margin-bottom: 5em;
	}
	.contactbtn:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: $primaryColor;
		transition: 1s;
		transform: rotateX(90deg);
		z-index: -1;
	}
	.contactbtn:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: $primaryColor;
		transition: 1s;
		transform: rotateY(90deg);
		z-index: -1;
	}
	.contactbtn:hover:before {
		transform: rotateX(0deg);
	}
	.contactbtn:hover:after {
		transform: rotateY(0deg);
	}
	.contactbtn:hover {
		color: #fff;
	}
}
