@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .menu-transition {
        transition: 1000ms all cubic-bezier(0.19, 1, 0.22, 1);
    }
}

::-webkit-scrollbar {
    width: 0.4em;
}
::-webkit-scrollbar-thumb {
    background-color: #009bdf;
    border-radius: 25px;
}
