@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .menu-transition {
        transition: 1000ms all cubic-bezier(0.19, 1, 0.22, 1);
    }
}

:root {
    --color-primary: #009bdf;
    --color-primary--dark: #014562;
}

html,
body {
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}

.copied::before {
    pointer-events: none;
    opacity: 0;
    background-color: white;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    content: 'Copied!';
    padding: 0.5rem;
    top: 0;
    right: 0;
    transform: translateY(0);
    position: absolute;
    transition: all 0.5s;
}
.copied.active::before {
    transform: translateY(-125%);
    opacity: 1;
}

::-webkit-scrollbar {
    width: 0.4em;
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 25px;
}

.adjective {
    opacity: 0;
    transform: translateY(-2em);
    transition: all 1s;
}
.adjective.active {
    opacity: 1;
    transform: translateY(0);
}
.adjective.reset {
    transform: translateY(2em);
}
