.buttontext {
	background-color: $primaryColor;
	border: none;
	transition: background-color 0.5s linear, color 0.5s linear;
	cursor: pointer;
	&:hover {
		background-color: darken($primaryColor, 5%);
	}

	&:focus {
		outline: none;
	}
}

.buttontext {
	animation: shadowFloat 1.2s linear alternate infinite;
	border-radius: 50px;
	color: #fff;
	font-size: 13px;
	padding: 10px 20px;
	text-transform: uppercase;
	text-shadow: 0 1px 1px darken($primaryColor, 10%);
}
.disabled {
	background-color:grey;
	&:hover {
		background-color: grey;
		cursor:  not-allowed;
	}
}
@keyframes shadowFloat {
	0% {
		transform: translateY(-2px);
	}
	100% {
		transform: translateY(2px);
	}
}
