html,
body {
	padding: 0;
	margin: 0;
  font-family: 'Space Grotesk', sans-serif;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.4em;
}
::-webkit-scrollbar-thumb {
  background-color: #009bdf;
  border-radius: 25px;
}