@import './variables';
@import './mixins';
@import '../components/misc/section/section';

.container {
	position: relative;
	background-image: url('../public/images/background.png');
	background-size: cover;
	background-position: fixed;
	z-index: 0;
	overflow-y: scroll;
	height: 100vh;
	overflow-x: hidden;
	scroll-behavior: smooth
}
